@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:wght@400;700&display=swap');

:root {
	/*Font Sizes*/
	--h1: 4rem;
	--h2: 2.8rem;
	--h3: 2.6rem;
	--h4: 2.4rem;
	--h5: 2rem;
	--h6: 1.8rem;
	--p: 1.8rem;
	--p2: 1.6rem;
	--p3: 1.4rem;
	--p4: 1.2rem;
	--p5: 1rem;
	--p6: 0.8rem;
	--margin-tittle: 1.5rem;
	--margin-text: 1rem;
}
html * {
	font-family: 'Arimo', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.p1,
.p2,
.p3,
.p4 {
	color: var(--main-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5rem 0 1rem 0;
	border: 0;
	font-weight: normal;
	line-height: 3rem;
}
p,
.p1,
.p2,
.p3,
.p4 {
	margin: 0.5rem 0 1rem 0;
	margin-bottom: var(--margin-text);
}
h1 {
	font-family: 'Cabin', sans-serif;
	font-size: var(--h1);
}
h2 {
	font-size: var(--h2);
}
h3 {
	font-size: var(--h3);
}
h4 {
	font-size: var(--h4);
}
h5 {
	font-size: var(--h5);
}
h6 {
	font-size: var(--h6);
}
p {
	font-size: var(--p);
}
.p1 {
	font-size: var(--p);
}
.p2 {
	font-size: var(--p2);
}
.p3 {
	font-size: var(--p3);
}
.p4 {
	font-size: var(--p4);
}
.p5 {
	font-size: var(--p5);
}
.p6 {
	font-size: var(--p6);
}
.bold {
	font-weight: 700;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.link {
	color: var(--link);
	cursor: pointer;
}
.link:hover {
	text-decoration: underline;
}
