.navbar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}

.cartIcon {
    font-size: 28px;
}
.cartIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cartIconContainer:hover {
    cursor: pointer;
}

.cartCounter {
    font-size: 15px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
    color: black;
    
}